@media only screen and (max-width: 1000px) {
  


.logo {
    justify-content: center;
    margin: 12px 0px;
}

nav ul {
    justify-content: center;
    height: 34px;
}

.search {
    justify-content: center;
}

.search input {
    margin: 10px 5px;
}

.slider {
    height: 45vh;
    width: 92vw;
    justify-content: center;
    margin: auto;
}

.card-items img {
    width: 140px;
}
.container2 ul li a{
    width: 32vw;
    height: 150vh;
}
}